<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h4>Booking Successful</h4>
		
		
		  <table>
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th>Date</th>
					<th>Room Type</th>
				</tr>
			</thead>
		
			<tbody>
				<tr th:each="field: ${customerList}"> 
				<td th:text="${field.firstName}"></td>
				<td th:text="${field.lastName}"></td>
					<td th:text="${field.email}"></td>
					<td th:text="${field.date}"></td>
					<td th:text="${field.roomType}"></td>
				</tr>
			</tbody>
		</table> 
		<a href = "/"><button type= "button">Home</button></a>


</body>
</html>